body {
    background-color: #F0ECEE;
    font-family: 'Fira Sans';
    height: auto;
}

.main {
    background-color: #F0ECEE;
    background-image: url('bulldog.jpg');
    height: 1000px;
    display:flexbox;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.main-text {
    text-align: left;
    margin: 315px 0 0 30px;
    position: absolute;
    font-weight: 600;
    display: flexbox;
  }

h3 {
    font-weight: 400;
    color: #88898B; 
} 

.nav {
    overflow: hidden;
}

.nav .unique {
    float: left;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.nav a {
    float: left;
    color: #88898B;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 300;
}

.nav-right {
    float:right;
}

.navButton {
    color:88898B;
}

.navButton:hover {
    color:#CCC;
}

.unique:hover {
    color:#CCC;
}

.uniqueLink {
    color: #ff4851;
}

.uniqueLink:hover {
    color:#CCC;
}

.myNavButton {
	background-color:#ff4851;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
    color:#ffffff!important;
	font-size:300;
	padding:15px 50px;
    text-decoration:none;
    width: auto;
}

.myNavButton:hover {
    background-color:#CCC;
}
.myNavButton:active {
	position:relative;
    top:1px;
}

.myButton {
	background-color:#ff4851;
	border-radius:15px;
	/*display:inline-block;*/
	cursor:pointer;
    color:#ffffff!important;
	font-size:300;
	padding:15px 50px;
    text-decoration:none;
    width: auto;
}
.myButton:hover {
	background-color:#CCC;
}
.myButton:active {
	position:relative;
	top:1px;
}


@media (max-width: 798px) {
    .nav {
        display: flex;
        flex-direction: column;
        text-align:left;
    }

    .navButton {
        margin-bottom: -18px;
    }

    .nav-right {
        display:flex;
        flex-direction: column;
        justify-content: start;
    }
    .myNavButton {
        order:1;
        width:100%;
        margin-top: 10px;
    }
    .myButton {
        order:1;
        display:flex;
        width:100%;
        flex-direction: column;
        justify-content: start;
        margin-top: 10px;
    }
    .main {
        background-image: none;
    }
  }